* {
  margin: 0;
  padding: 0;
}

.body {
  overflow: hidden;
}

.body {
  height: 90vh;
  display: grid;
  grid-template-columns: 87.5% 12.5%;
}

.ioEditor {
  display: grid;
  grid-template-rows: auto auto;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.leaveBtn,
.copyBtn {
  margin: 0rem 1rem;
}

.leaveBtn {
  background: #4aed88;
  width: 100px;
}

.leaveBtn:hover {
  background: #2b824c;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10vh;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videoChat {
  background: rgb(32, 32, 32);
  padding: 4%;
  overflow-y: scroll;
}

.videoChat li .video {
  position: absolute;
  width: 100%;
  height: 15vh;
  background: black;
  border-radius: 8%;
  color: white;
  font-size: 14px;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
